.sidebar__author {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sidebar__circle--small {
    background-color: red;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

.sidebar__square {
    background-color: black;
    width: 10vh;
    height: 10vh;
}
