.sidebar__author {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sidebar__circle--small {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}

.sidebar__square {
    width: 10vh;
    height: 10vh;
}
