span {
    display: inline-block;
}

p span:nth-child(2) {
    font-family: 'bebasregular';
}

.sidebar__author {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sidebar__circle--small {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
}

.sidebar__square {
    width: 3.5vh;
    height: 3.5vh;
}
